<h1><%= "Plots" %></h1>
<section id="plots">
<% @plots.each do |plot| %>
  <section id="plot-<%= plot.id %>">
  <p><%= "Plot Number: #{plot.number}" %></p>
  <p><%= "Plants in This Plot: " %></p><% plot.plants.each do |plant| %>
    <section id="plant-<%= plant.id %>">
    <%= plant.name %>
    <%= button_to "Remove", plot_plant_path(plot, plant), method: :delete %>
    </section>
  <% end %>
  </section>
<% end %>
</section>