<h1>Plots</h1>

<% @plots.each do |plot| %>
    <div id="plot-<%= plot.id %>">
        <h2>Plot Number: <%= plot.number %></h2>
        <ul>
            <% plot.plants.each do |plant| %>
                <li id="plant-<%= plant.id %>">
                    <%= plant.name %></li>
                    <%= link_to "Remove #{plant.name}", plot_plot_plant_path(plot, plant.plot_plants.find_by(plant_id: plant.id)), data: { turbo_method: :delete } %>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>