<h1>Plots Index Page</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <p>Plot Number: <%= plot.number %></p>
      <% plot.plot_plants.each do |plot_plant| %>
      <div id="plot-plant<%= plot_plant.id %>">
        <ul><%= plot_plant.plant.name %></ul>
        <ul><%= button_to "Delete Plant", plot_plot_plant_path(plot, plot_plant), method: :delete, id: "delete-plant-#{plot_plant.id}" %></ul>
      </div>
      <% end %>
  </div>
<% end %>
